input {
    width: 150px;
    height: 30px;
    margin: 5px;
}

#regist {
    width: 120px;
    height: 50px;
    border: 3px solid #dcedc2;
    background-color: #a8e6ce;
    color: #000000;
    font-weight: bolder;
}